@import "tailwindcss";

@theme {
  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

/* Fix for white bands on mobile/scroll */
html,
body {
  background-color: #0a0a0a; /* Matches bg-neutral-950 */
  overscroll-behavior-y: none; /* Prevents the 'pull' bounce effect */
}
